body {
    padding-top: 2rem;
}
#login, #content {
    max-width: 700px;
    margin: 0 auto;
}
#output {
    white-space: pre-wrap;
    background: #f7f7f7;
    padding: 1rem;
    border: 1px solid #ccc;
}
